name: Create pre-requisite resources for App

permissions:
  id-token: write
  contents: read
      
jobs: 
  infra-prereq-setup:
    runs-on: ubuntu-latest
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      TF_VAR_subscription_id: ${{ secrets.TF_VAR_SUBSCRIPTION_ID }}
      TF_VAR_storage_account_name: ${{ vars.TF_VAR_STORAGE_ACCOUNT_NAME }}
      TF_VAR_storage_account_location: ${{ vars.TF_VAR_STORAGE_ACCOUNT_LOCATION }}
      TF_VAR_storage_container_name: ${{ vars.TF_VAR_STORAGE_CONTAINER_NAME }}
      TF_VAR_resource_group_name: ${{ vars.TF_VAR_RESOURCE_GROUP_NAME }}
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
    - name: Create Terraform remote backend
      run:  |
        cd $GITHUB_WORKSPACE/infra/dev/terraform-backend
        terraform init
        terraform plan -input=false
        terraform apply -auto-approve -input=false
